<div id="dialog" class="hide">
    <div class="dialog-content">
        <div class="dialog-heading"><span class="dialog-close" data-event="close" data-target="#dialog">x</span></div>
        <div class="dialog-body">
            
        </div>
    </div>
</div>
<div class="overlay hide"  data-event="close" data-target="#dialog"></div>