<div class="form-group" id="file-group">
    <input type="file" name="data[images][]" id="<?php echo time(); ?>" class="form-control upload-img" placeholder="Image" 
           accept="image/jpeg,image/pjpeg,image/png,image/gif" >
    <input type="file" name="data[videos][]" id="<?php echo time()+1; ?>" class="form-control upload-video" placeholder="Image" 
           accept="video/mp4,video/flv">
</div>