/* Profile ----------- */

#memo{
    text-align: center;
    line-height: 190%;
    margin: 5px auto 15px auto;
}
.hide{
    display: none;
}
#image-view{
	margin:15px;
	padding-bottom:15px;
    white-space: nowrap;
    overflow-x: scroll;
}
.image-preview{
	position:relative;
    border: 1px dashed rgba(203, 201, 201, 0.57);
    display: inline-block;
	margin-right:3px;
}
.image-preview .close {
	position:absolute;
	top:0px;
	right:0px;
	width:30px;
	height:30px;
    background: url('../ico/icon_close.png') no-repeat;
    background-size: contain;
	}
	.image-preview .close img { width:100%;}
li.to-target.active {
    background-color: rgb(134, 220, 255);
}
li.btn-category.active {
    border: 2px dashed rgb(242, 105, 91);
}
li.btn-category.active .icon {
	margin-top:10px !important;
	}
.error {
	clear:both;
	color:#F00;
	margin:15px;
	}
.video-placeholder{
    width: 70px;
    height: 70px;
    background: url('../img/video.png');
    background-size: contain;
}
.map video{
    width: 100%;
    height: 100%;
}
#pages_login .btn_group.login {
	width: auto;
}
#pages_login .form-box {
  margin: 40px auto 0 auto;
  width: 360px;
}
#pages_login .form-box .header {
  padding: 10px;
  background-color: #54c6f2;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
#pages_login .form-box .body, .form-box .footer {
  padding: 10px 20px;
  background: #fff;
  color: #444;
}
#pages_login .bg-gray {
  background-color: #eaeaec!important;
}
#pages_login .form-group {
  margin-bottom: 15px;
}
#pages_login .form-control {
  height: 36px;
}
#pages_login .form-control {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#pages_login .button-group {
  margin-top: 22px;
  margin-bottom: 22px;
}
#pages_login  .submit {
  margin-right: 5px;
  float: left; 
}
#pages_login  .submit input {  
  background-color: #54c6f2!important;
  color: #f9f9f9!important;
  padding: 10px;
}
#pages_login  .form-body {
  clear: both;
}
.cls {
  clear: both;
}
.progress {
    height: 40px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    top: 45%;
    left: 20%;
    position: absolute;
    width: 60%;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-info {
    background-color: #5bc0de;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.51);
    z-index: 10001;
    top: 0;
}
.box-like, .box-favorite {
  display: inline;
}