@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	word-break: break-all;
}
body {
	font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	color: #595757;
	line-height: 140%;
	zoom: 1;
}

/* wrapper ----------- */
#wrapper {
	width:100%;
	background:#ffffff;
	}
/* navPage ----------- */           
#navPage {
	position:fixed;
	top:58px;
	left:0px;
	width:12.5%;
	height:100%;
	padding:0px;
	background:#7cd4ff;
	z-index:888;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out;
	}
	#navPage ul {
		width:58px;
		margin:30px auto;
		}
		#navPage ul li {
		position:relative;
		width:58px;
		height:68px;
		margin-bottom:26px;
		cursor:pointer;
		text-align:center;
		}
		#navPage ul li .num {
			position:absolute;
			bottom:25px;
			right:4px;
			font-size:9px;
			line-height:100%;
			padding:3px 5px;
			background:#f1685a;
			color:#FFF;
			-moz-border-radius: 8px; 
			-webkit-border-radius: 8px; 
			border-radius: 8px;
			}
			#navPage ul li.active .num {
			background:#FFF;
			color:#f1685a;
			}
		#navPage ul li .navText {
			font-size:11px;
			color:#FFF;
			line-height:100%;
			}
			#navPage ul li.active .navText {
			color:#f26355;
			}
		#navPage ul li .nav_01, #navPage ul li .nav_02, #navPage ul li .nav_03, #navPage ul li .nav_04, #navPage ul li .nav_05, #navPage ul li .nav_06 {
			width:46px;
			height:46px;
			margin:0px auto;
			margin-bottom:6px;
			}
		#navPage ul li .nav_01 {
			background:url(../ico/menu_back_white.png) no-repeat;
			background-size:100%;
			}
			#navPage ul li.active .nav_01 {
			background:url(../ico/menu_back_white.png) no-repeat;
			background-size:100%;
			}
		#navPage ul li .nav_02 {
			background:url(../ico/menu_02.png) no-repeat;
			background-size:100%;
			}
			#navPage ul li.active .nav_02 {
			background:url(../ico/menu_02_active.png) no-repeat;
			background-size:100%;
			}
		#navPage ul li .nav_03 {
			background:url(../ico/menu_03.png) no-repeat;
			background-size:100%;
			}
			#navPage ul li.active .nav_03 {
			background:url(../ico/menu_03_active.png) no-repeat;
			background-size:100%;
			}
		#navPage ul li .nav_04 {
			background:url(../ico/menu_04.png) no-repeat;
			background-size:100%;
			}
			#navPage ul li.active .nav_04 {
			background:url(../ico/menu_04_active.png) no-repeat;
			background-size:100%;
			}
		#navPage ul li .nav_05 {
			background:url(../ico/menu_05.png) no-repeat;
			background-size:100%;
			}
			#navPage ul li.active .nav_05 {
			background:url(../ico/menu_05_active.png) no-repeat;
			background-size:100%;
			}
		#navPage ul li .nav_06 {
			background:url(../ico/menu_06.png) no-repeat;
			background-size:100%;
			}
			#navPage ul li.active .nav_06 {
			background:url(../ico/menu_06_active.png) no-repeat;
			background-size:100%;
			}
			
.togged{
    width: 0 !important;
    padding: 0 !important;
}
.togged:before {
    display: none;
}
/* searchBox ----------- */ 
.searchBox {
	position:fixed;
	top:58px;
	right:0px;
	width:346px;
	padding:12px;
	background:#595757;
	z-index:9999;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out;
	}
	.searchBox input {
		width:100%;
		height:52px;
		padding:3px 10px;
		font-size:18px;
		}
	.searchBox:before {
		position:absolute;
		top:-14px;
		right:25px;
	content:"";
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 15px solid #595757;
	}
/* profile Box ----------- */
.profileBox {
	position:fixed;
	top:20%;
	left:17.5%;
	width:65%;
	background:#FFF;
	z-index:999;
	}
	.profileBox li {
		position:relative;
		padding:15px;
		border-bottom:1px solid #CCC;
		vertical-align:middle;
		text-align:center;
		font-weight:bold;
		color:#7cd4ff;
		}
		.profileBox .title {
			font-size:18px;
			color:#595757;
			}
		.profileBox .avatar {
			width:58px;
			height:58px;
			-moz-border-radius: 29px; 
			-webkit-border-radius: 29px; 
			border-radius: 29px;
			overflow:hidden;
			margin:0px auto;
			}
			.profileBox .avatar img {
				width:100%;
				}
		.profileBox .leftText, .profileBox .pCancle, .profileBox .leftTextName  {
			position:absolute;
			left:10px;
			color:#595757;
			}
		.profileBox .leftTextName {
			top:36px;
			}
		.profileBox .pCancle {
			position:absolute;
			left:10px;
			font-size:10px;
			color:#7cd4ff;
			cursor:pointer;
			}
		.profileBox .btn {
			height:60px;
			width:100%;
			}
		.profileBox .btn .one {
			height:60px;
			padding-top:22px;
			color:#FFF;
			font-size:24px;
			font-weight:bold;
			text-align:center;
			background:#fa5354;
			cursor:pointer;
			}
		.profileBox .btn .two {
			float:left;
			height:60px;
			padding:0px 15px;
			text-align:center;
			width:50%;
			color:#FFF;
			vertical-align:middle;
			cursor:pointer;
			}
			.profileBox .btn .two .ico_capture {
					width:46px;
					height:38px;
					margin:8px auto;
					background:url(../ico/pro_04.png) no-repeat;
					background-size:100%;
					}
					.profileBox .btn .two .text {
						margin-top:20px;
						font-weight:bold;
						}
		.profileBox .btn .three {
			float:left;
			height:60px;
			padding:12px;
			width:33.333%;
			color:#FFF;
			vertical-align:middle;
			cursor:pointer;
			}
			.profileBox .btn .three span {
				display:inline-block;
				vertical-align:middle;
				}
			.profileBox .btn .ico_graduate, .profileBox .btn .ico_camera, .profileBox .btn .ico_heart {
				width:38px;
				height:38px;
				margin-right:3px;
				vertical-align:middle;
				display:inline-block;
				}
				.profileBox .btn .ico_graduate {
					background:url(../ico/pro_01.png) no-repeat;
					background-size:100%;
					}
				.profileBox .btn .ico_camera {
					background:url(../ico/pro_02.png) no-repeat;
					background-size:100%;
					}
				.profileBox .btn .ico_heart {
					background:url(../ico/pro_03.png) no-repeat;
					background-size:100%;
					}
			.profileBox textarea {
				width:80%;
				float:left;
				}
			.profileBox .capture {
				position:absolute;
				right:0px;
				bottom:76px;
				width:58px;
				height:45px;
				background:#9d9e9e;
				cursor:pointer;
				}
				.profileBox .capture .ico_capture {
					width:46px;
					height:38px;
					margin:0px auto;
					background:url(../ico/pro_04.png) no-repeat;
					background-size:100%;
					}
/* question Box ----------- */
#popupBox02 {
	position:fixed;
	top:20%;
	left:17.5%;
	width:65%;
	color:#FFF;
	z-index:999;
	}
	#popupBox02 .title {
		font-size:24px;
		font-weight:bold;
		text-align:center;
		margin-bottom:30px;
		}
		#popupBox02 .cancel {
		width:100px;
		padding:5px;
		margin:30px auto;
		font-size:14px;
		text-align:center;
		color:#82d2f5;
		cursor:pointer;
		}
	#popupBox02 li {
		float:left;
		width:33.333%;
		margin-bottom:30px;
		cursor:pointer;
		}
	#popupBox02 .thumbnail {
		width:86px;
		height:86px;
		margin:15px auto;
		-moz-border-radius: 43px; 
		-webkit-border-radius: 43px; 
		border-radius: 43px;
		overflow:hidden;
        background-color: #fff;
		text-align:center;
                /*padding: 25px;*/
		}
		#popupBox02 .thumbnail img {
		width:45px;
		height:45px;
		margin:20px auto;
		}
	#popupBox02 .text {
		font-size:24px;
		text-align:center;
		}
        #popupBox02 ul{
            max-height: 395px;
            overflow: auto;
        }
/* Catelogy List ----------- */
#catList_02 li {
	background:#f7f7f7;
	padding:20px;
	margin-bottom:15px;
	vertical-align:middle;
	}
	#catList_02 li .thumbnail, #catList_02 li .text {
		display:inline-block;
		vertical-align:middle;
		}
	#catList_02 li .text {
		font-size:36px;
		color:#888888;
		}
	#catList_02 li .thumbnail {
		width:86px;
		height:86px;
		margin-right:20px;
		-moz-border-radius: 43px; 
		-webkit-border-radius: 43px; 
		border-radius: 43px;
		overflow:hidden;
		background:#FFF;
        padding: 15px;
		text-align:center;
		}
		#catList_02 li .thumbnail img {
			width:45px;
			height:45px;
			margin:5px auto;
					}
/* question Box ----------- */
.questionBox {
	position:fixed;
	top:20%;
	left:7.5%;
	width:85%;
	min-height:285px;
	padding-top:15px;
	background:#FFF;
	z-index:888;
	}
	.questionBox .qCancle { 
		position:absolute;
		top:15px;
		left:15px;
		text-align:center;
		font-size:12px;
		line-height:100%;
		cursor:pointer;
		}
	.questionBox .qTitle { 
		padding:0px 90px;
		text-align:center;
		font-size:18px;
		font-weight:bold;
		margin-bottom:40px;
		}
	.questionBox .qContent {
		max-height:163px;
		padding:15px;
		margin:15px;
		margin-bottom:10px;
		border:1px solid #CCC;
		overflow:auto;
		}
	.questionBox .qMedia {
		float:left;
		width:30%;
		height:34px;
		padding-top:3px;
		margin-left:15px;
		}
		.questionBox .qMedia .qm_01, .questionBox .qMedia .qm_02, .questionBox .qMedia .qm_03 {
			display:inline-block;
			width:28px;
			height:25px;
			margin-right:15px;
			cursor:pointer;
			}
		.questionBox .qMedia .qm_01 {
			background:url(../ico/qm_01.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.questionBox .qMedia .qm_02 {
			background:url(../ico/qm_02.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.questionBox .qMedia .qm_03 {
			background:url(../ico/qm_03.png) 0px 0px no-repeat;
			background-size:100%;
			}
	.questionBox .qPrint {
		float:right;
		width:408px;
		height:34px;
		margin-right:-1px;
		margin-bottom:15px;
		}
		.questionBox .qPrint li {
			display:inline-block;
			width:84px;
			height:34px;
			padding:5px;
			margin-right:5px;
			color:#FFF;
			background:#787f88;
			vertical-align:top;
			cursor:pointer;
			}
		.questionBox .qPrint li.item04 {
			display:inline-block;
			width:126px;
			height:34px;
			margin-right:0px;
			}
		.questionBox .qPrint li .ico_01, .questionBox .qPrint li .ico_02, .questionBox .qPrint li .ico_03, .questionBox .qPrint li .ico_04 {
			display:inline-block;
			vertical-align:middle;
			width:30px;
			height:25px;
			}
		.questionBox .qPrint li .ico_01 {
			background:url(../ico/qp_01.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.questionBox .qPrint li .ico_02 {
			background:url(../ico/qp_02.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.questionBox .qPrint li .ico_03 {
			background:url(../ico/qp_03.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.questionBox .qPrint li .ico_04 {
			background:url(../ico/qp_04.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.questionBox .qPrint li.item04.active {
				background:#dbdcdc;
				color:#787f88;
				height:50px;
				}
				.questionBox .qPrint li.item04.active .ico_04 {
			background:url(../ico/qp_04_grayDark.png) 0px 0px no-repeat;
			background-size:100%;
			}
.questionBox #tabContent04 {
	clear:both;
	padding:15px;
	background:#dbdcdc;
	}
	.questionBox #tabContent04 .title {
		text-align:center;
		padding:0px 60px;
		line-height:100%;
		}
	#tabContent04 ul {
		width:95%;
		margin:0px auto;
		}
	#tabContent04 li {
		float:left;
		width:70px;
		height:70px;
		background:#FFF;
		margin:7px 7px 7px 7px;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; 
		border-radius: 6px;
		cursor:pointer;
		}
		#tabContent04 li .icon {
			width:46px;
			height:46px;
			margin:13px auto 0px auto;
			}
			#tabContent04 li .icon img {
				width:100%;
				}
.questionBoxBg {
	position:fixed;
	top:0px;
	left:center;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.7;
	z-index:887;
	}
/* question Box END----------- */
.bgBlack {
	position:fixed;
	top:0px;
	left:center;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.7;
	z-index:998;
	}
/* header ----------- */
#header {
	position:fixed;
	top:0px;
	width:100%;
	padding:18px;
	height:58px;
	background:#ff6251;
	color:#FFF;
	overflow:auto;
	z-index:997;
	}
	#header .titleMain, #header .search { display:inline-block; vertical-align:middle;}
	#header .titleMain {
		width:100%;
		padding-top:5px;
		margin:0px auto;
		font-size:14px;
		line-height:120%;
		font-weight:bold;
		text-align:center;
		}
	#header .search {
		position:absolute;
		top:5px;
		right:10px;
		height:46px;
		width:46px;
		margin:0px 0px 0px 0px;
		background:url(../ico/search_01.png) 0px 0px no-repeat;
		background-size:100%;
		cursor:pointer; 
		}
/* header 02 ----------- */
	#header .cancel, #header .titleMain, #header .completed { display:inline-block; vertical-align:middle;}  
	#header .cancel {
		position:absolute;
		top:20px;
		left:15px;
		cursor:pointer;
		}
	#header .completed {
		float:right;
		height:46px;
		font-weight:bold;
		margin:0px 0px 0px 0px;
		padding:12px 0px 10px 10px;
		cursor:pointer; 
		}
/* contentWrapper ----------- */
#contentWrapper {
	position: relative;
	width:100%;
	margin-top:58px;
	overflow:hidden;
	}
#contentInner {
	position:relative;
	float:right;
	width:87.5%;
	padding:0 7.5%;
	margin:38px 0px;
	margin-bottom:40px;
        min-height: 100px;
	}
	#contentInner .member {
		position:fixed;
		top:70px;
		right:5px;
		width:124px;
		height:124px;
		cursor:pointer;
		z-index:888;
		}
		#contentInner .member img {
			width:100%;
			}
#contentInner.style02 {
	padding:0 3%;
	margin-top:20px;
			}
#headingPage {
	width:100%;
	margin-bottom:28px;
	text-align:center;
	}
	#headingPage span {
		margin:0px 10px;
		cursor:pointer;
		}
	#headingPage .active {
		font-weight:bold;
		}
/* contentIndex ----------- */
#contentIndex {
	width:100%;
	}
	#contentIndex .titleIndex {
		font-size:18px;
		font-weight:bold;
		text-align:center;
		margin-top:205px;
		margin-bottom:70px;
	}
	#contentIndex .logo_app {
		width:500px;
		margin:0px auto;
		margin-top:230px;
		margin-bottom:20px;
		}
		#contentIndex .logo_app img {
			width:100%;
			}
/* Button group ----------- */
.btn_group {
	clear:both;
	margin:0px auto; 
		}
	.btn_group.login {
		width:345px;
		height:153px;
		margin-bottom:90px;
		}
		.btn_group .log_in, .btn_group .sign_up { display:inline-block;}
		.btn_group .log_in a {
			display:block;
			text-indent:-3999px;
			width:153px;
			height:153px;
			background:url(../img/bt_login.png) 0px 0px no-repeat;
			background-size:100%;
			}
		.btn_group .sign_up a {
			display:block;
			text-indent:-3999px;
			width:153px;
			height:153px;
			margin-left:34px;
			background:url(../img/bt_signup.png) 0px 0px no-repeat;
			background-size:100%;
			}
.btn_group .bt {
	width:85px;
	height:33px;
	padding-top:11px;
	margin:0px auto;
	color:#FFF;
	line-height:100%;
	cursor:pointer;
	}
/* listStyle01 ----------- */		
#listStyle01 {
	width:100%;
	margin:0px auto;
	}
	#listStyle01 li {
		position:relative;
		vertical-align:top;
		padding:17px;
		margin-bottom:20px;
		background:#FFF;
		}
		#listStyle01 .life {
			position:absolute;
			top:5px;
			right:10px;
			font-size:10px;
			color:#5fbd70;
			cursor:pointer;
			}
	#listStyle01 .content {
		float:right;
		width:100%;
		}
		#listStyle01 .content .title {
			font-size:18px;
			font-weight:bold;
			line-height:100%;
			margin-bottom:10px;
			}
		#listStyle01 .content .des {
			line-height:160%;
			margin-bottom:10px;
			}
		#listStyle01 .content .map {
			width:100%;
			margin-bottom:23px;
			}
			#listStyle01 .content .map img {
				width:100%;
				}
	#listStyle01 li .bottom {
		position:relative;
		clear:both;
		font-size:12px;
		line-height:100%;
		color:#888888;
		vertical-align:top;
		}
	#listStyle01 li .bottom .ico_star, #listStyle01 li .bottom .ico_com, #listStyle01 li .bottom .ico_like, #listStyle01 li .bottom .min {
		display:inline-block;
		margin-right:0px;
		vertical-align:middle;
		}
	#listStyle01 li .bottom .ico_star.on {
		width:18px;
		height:20px;
		background:url(../ico/ico_star_on.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#listStyle01 li .bottom .ico_star.off {
		width:18px;
		height:20px;
		background:url(../ico/ico_star_off.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
	#listStyle01 li .bottom .ico_com.on {
		width:18px;
		height:20px;
		background:url(../ico/ico_com_on.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#listStyle01 li .bottom .ico_com.off {
		width:18px;
		height:20px;
		background:url(../ico/ico_com_off.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
	#listStyle01 li .bottom .ico_like.on {
		width:18px;
		height:20px;
		background:url(../ico/ico_like_on.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#listStyle01 li .bottom .ico_like.off {
		width:18px;
		height:20px;
		background:url(../ico/ico_like_off.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#listStyle01 li .bottom span {
            margin-right: 10px;
            vertical-align: middle;
		}
	#listStyle01 li .bottom .min {
		position:absolute;
		top:0px;
		right:0px;
		}
#listStyle01 .liProfile {
	text-align:center;
	padding:25px 30px;
	padding-bottom:20px;
	}
	.liProfile {
		position:relative;
		}
		.liProfile .changeProfile {
			position:absolute;
			top:25px;
			right:0px;
			width:114px;
			height:32px;
			font-size:10px;
			line-height:100%;
			color:#ffffff;
			padding:12px 0px;
			text-align:center;
			background:#9e9e9f;
			cursor:pointer;
			}
#listStyle01 .liProfile .avatar {
	float:none;
	width:104px;
	height:104px;
	display:block !important;
	margin:0px auto;
	margin-bottom:25px;
	-moz-border-radius: 57px; 
	-webkit-border-radius: 57px; 
	border-radius: 57px;
	overflow:hidden;
	}
	#listStyle01 .liProfile .avatar img {
		width:100%;
		}
	#listStyle01 .liProfile .content {
	display:block !important;
	width:100%;
	margin-bottom:0px;
	padding:0px;
	}
	#listStyle01 .liProfile .content .des {
		margin-bottom:28px;
		}
	#listStyle01 .liProfile .content .title {
		font-size:24px;
		line-height:100%;
		margin-bottom:20px;
		}
	#listStyle01 .liProfile .com01, #listStyle01 .liProfile .com02, #listStyle01 .liProfile .com03 {
		width:86px;
		display:inline-block;
		}
	#listStyle01 .liProfile .com01 .num, #listStyle01 .liProfile .com02 .num, #listStyle01 .liProfile .com03 .num {
		font-size:26px;
		line-height:100%;
		margin-bottom:5px;
		}
	#listStyle01 .liProfile .com01 .text, #listStyle01 .liProfile .com02 .text, #listStyle01 .liProfile .com03 .text {
		font-size:14px;
		line-height:100%;
		margin-top:10px;
		}
/* itemList01 ----------- */		
#itemList01 {
	width:100%;
	margin:0px auto;
	}
	#itemList01 li {
		position:relative;
		vertical-align:top;
		background:#FFF;
		}
		#itemList01 li .member_02 {
			position:absolute;
			bottom:-40px;
			right:-15px;
			width:124px;
			height:124px;
			cursor:pointer;
			}
			#itemList01 li .member_02 img {
				width:100%;
		}
	#itemList01 li .avatar, #itemList01 li .content {
		display:inline-block;
		}
	#itemList01 li .avatar {
		float:left;
		width:56px;
		height:56px;
		margin-right:15px;
		margin-bottom:15px;
		-moz-border-radius: 28px; 
		-webkit-border-radius: 28px; 
		border-radius: 28px;
		overflow:hidden; 
		}
		#itemList01 li .avatar img {
			width:100%;
			}
	#itemList01 .content {
		position:relative;
		float:left;
		width: calc(94% - 10px - 30px - 2px); 
		-moz-width: calc(94% - 10px - 30px - 2px); 
		-webkit-width: calc(94% - 10px - 30px - 2px);
		background:#f7f7f7;
		padding:0px;
		margin-bottom:20px;
		}
		#itemList01 .content .life {
			position:absolute;
			top:5px;
			right:10px;
			font-size:10px;
			cursor:pointer;
			}
		#itemList01 .content .title, #itemList01 .content .des {

			width:95%;
			margin:15px auto;
			}
		#itemList01 .content .title {
			font-size:18px;
			font-weight:bold;
			line-height:100%;
			}
		#itemList01 .content .des {
			line-height:140%;
			}
		#itemList01 .content .map {
			width:100%;
			margin-bottom:23px;
			}
			#itemList01 .content .map img {
				width:100%;
				}
	#itemList01 .content .bottom {
		position:relative;
		clear:both;
		padding:0px 22px;
		margin-bottom:10px;
		font-size:12px;
		line-height:100%;
		color:#888888;
		vertical-align:top;
		}
		#itemList01 .content .bottom.border {
			border-top:1px dotted #dbdcdc;
			padding:5px 10px;
			margin-bottom:0px;
		}
	#itemList01 .content .bottom .ico_star, #itemList01 .content .bottom .ico_com, #itemList01 .content .bottom .ico_like, #itemList01 .content .bottom .min {
		display:inline-block;
		margin-right:0px;
		vertical-align:middle;
		}
	#itemList01 .content .bottom .ico_star.on {
		width:18px;
		height:20px;
		background:url(../ico/ico_star_on.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#itemList01 .content .bottom .ico_star.off {
		width:18px;
		height:20px;
		background:url(../ico/ico_star_off.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
	#itemList01 .content .bottom .ico_com.on {
		width:18px;
		height:20px;
		background:url(../ico/ico_com_on.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#itemList01 .content .bottom .ico_com.off {
		width:18px;
		height:20px;
		background:url(../ico/ico_com_off.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
	#itemList01 .content .bottom .ico_like.on {
		width:18px;
		height:20px;
		background:url(../ico/ico_like_on.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#itemList01 .content .bottom .ico_like.off {
		width:18px;
		height:20px;
		background:url(../ico/ico_like_off.png) 0px 0px no-repeat;
		background-size:100%;
        margin-right: 2px;
		}
		#itemList01 .content .bottom span { 
			margin-right:10px;
            vertical-align: middle;
		}
	#itemList01 .content .bottom .min {
		position:absolute;
		right:20px;
        bottom: 5px;
		}
	
	#itemList01 .content .bottom.border .min {
		position:absolute;
		top:8px;
		right:20px;
	}
	#itemList01 .content .bottom .nice {
		border-left:1px dotted #dbdcdc;
		margin-left:12px;
		padding-left:15px;
	}
/* itemList01 #itemSub ----------- */
#itemList01 #itemSub .content.men {
	border-top:1px solid #f1685f;
	}
#itemList01 #itemSub .content.women {
	border-top:1px solid #54c6f2;
	}
	
#itemList01 #itemSub {
	background:none;
	padding:0px;
	padding-left:2%;
	border:none;
	}
	#itemSub .content {
		float:right;
		background:#FFF;
		padding:14px;
		}
	#itemSub .content .left {
		float:left;
		width:50%;
		}
	#itemSub .content .right {
		float:right;
		width:40%;
		text-align:right;
		}
	#itemSub .content .right .time {
		margin-right:5px;
		}
#itemList01 .liCol {
	text-align:center;
	padding:25px 30px;
	padding-bottom:25px;
	}
	.liCol {
		position:relative;
		}
		.liCol .changeProfile {
			position:absolute;
			top:25px;
			right:0px;
			width:114px;
			height:32px;
			font-size:10px;
			line-height:100%;
			color:#ffffff;
			padding:12px 0px;
			text-align:center;
			background:#9e9e9f;
			cursor:pointer;
			}
#itemList01 .liCol .avatar {
	float:none;
	width:104px;
	height:104px;
	display:block !important;
	margin:0px auto;
	margin-bottom:25px;
	-moz-border-radius: 57px; 
	-webkit-border-radius: 57px; 
	border-radius: 57px;
	overflow:hidden;
	}
	#itemList01 .liCol .content {
	display:block !important;
	width:100%;
	margin:0px;
	padding:0px;
	}
	#itemList01 .liCol .content .title {
		font-size:24px;
		line-height:100%;
		margin-bottom:15px;
		}
	#itemList01 .liCol .com01, #itemList01 .liCol .com02, #itemList01 .liCol .com03 {
		width:122px;
		display:inline-block;
		}
	#itemList01 .liCol .com01 .num, #itemList01 .liCol .com02 .num, #itemList01 .liCol .com03 .num {
		font-size:30px;
		line-height:100%;
		margin-bottom:5px;
		}
/* itemList02 ----------- */		
#itemList02 {
	margin:0px auto;
	margin-bottom:72px;
	}
	#itemList02 .tList02 {
		font-weight:bold;
		line-height:100%;
		margin-bottom:15px;
		}
	#itemList02 li {
		position:relative;
		height:72px;
		padding:25px;
		background:#FFF;
		border-bottom:1px solid #dbdcdc;
		}
		#itemList02 li .title {
			position:absolute;
			top:27px;
			left:25px;
			width:80%;
			line-height:100%;
			}
		#itemList02 li .icoOnOff {
			position:absolute;
			top:22px;
			right:25px;
			width:48px;
			height:29px;
			background:url(../ico/ico_onoff.png) no-repeat;
			background-size:100%;
			cursor:pointer;
			}
/* itemList03 ----------- */	
#itemList03 {
	width:619px;
	margin:0px auto;
	}
	#itemList03 li {
		float:left;
		width:205px;
		height:205px;
		background:#FFF;
		border:1px solid #ccc;
		margin-left:-1px;
		margin-top:-1px;
		}
	#itemList03 li .icon {
		width:103px;
		height:103px;
		margin:47px auto;
		cursor:pointer;
		}
		#itemList03 li .icon img {
			width:100%;
			}
		
/* itemList04 ----------- */	
#itemList04 {
	width:100%;
	margin:0px auto;
	margin-bottom:72px;
	}
	#itemList04 li {
		padding:15px;
		padding-bottom:1px;
		background:#f7f7f7;
		margin-bottom:30px;
		line-height:100%;
		}
	#itemList04 .sty01 .left {
		width:34px;
		min-width:34px;
		float:left;
		}
		#itemList04 .sty01 .left .icon {
			width:16px;
			height:16px;
			display:block;
			}
			#itemList04 .sty01 .left .icon_star {
				background:url(../ico/ico_star_salmon.png) no-repeat;
				background-size:100%;
				}
			#itemList04 .sty01 .left .icon_like {
				background:url(../ico/ico_like_salmon.png) no-repeat;
				background-size:100%;
				}
		#itemList04 .sty01 .content {
		width:100%;
		padding-left:34px;
		}
	#itemList04 .avatarGroup .avatar_s {
		width:34px;
		height:34px;
		display:inline-block;
		margin-right:8px;
		-moz-border-radius: 17px; 
		-webkit-border-radius: 17px; 
		border-radius: 17px;
		overflow:hidden;
		}
	#itemList04 .avatarGroup .avatar_s img {
		width:100%;
		}
#itemList04 .sty02 .left {
		width:53px;
		min-width:53px;
		float:left;
		}
		#itemList04 .sty02 .left .avatar_l {
			width:54px;
			height:54px;
			-moz-border-radius: 27px; 
			-webkit-border-radius: 27px; 
			border-radius: 27px;
			overflow:hidden;
			}
			#itemList04 .sty02 .left .avatar_l img {
				width:100%;
				}
		#itemList04 .sty02 .content {
		width:100%;
		padding-left:68px;
		}
		#itemList04 .sty02 .content .note {
			color:#9d9e9e;
			font-size:12px;
			}
/* itemList04 END ----------- */		
#itemSigle {
	width:100%;
	margin:0px auto;
	margin-bottom:72px;
	background:#FFF;
	position:relative;
	}
	#itemSigle .cancel {
		position:absolute;
		top:15px;
		left:15px;
		cursor:pointer;
		color:#9d9e9e;
		}
#itemSigle {
	text-align:center;
	padding:35px;
	padding-bottom:25px;
	}
#itemSigle .avatar {
	float:none;
	width:118px;
	height:118px;
	display:block !important;
	margin:0px auto;
	margin-bottom:25px;
	}
	#itemSigle .avatar img {
		width:100%;
		}
	#itemSigle .content {
	display:block !important;
	width:100%;
	margin:0px;
	padding:0px;
	}
	#itemSigle .content .title {
		font-size:24px;
		font-weight:bold;
		line-height:100%;
		margin-bottom:15px;
		}
/* profile Content ----------- */
#profileCont {
	width:100%;
	margin:0px auto;
	margin-bottom:72px;
	background:#FFF;
	position:relative;
	}
	#profileCont .cancel {
		position:absolute;
		top:15px;
		left:15px;
		cursor:pointer;
		color:#9d9e9e;
		}
#profileCont {
	text-align:center;
	padding:35px;
	padding-bottom:25px;
	}
#profileCont .avatar {
	float:none;
	width:118px;
	height:118px;
	display:block !important;
	margin:0px auto;
	margin-bottom:25px;
	-moz-border-radius: 59px; 
	-webkit-border-radius: 59px; 
	border-radius: 59px;
	overflow:hidden;
	}
	#profileCont .avatar img {
		width:100%;
		}
	#profileCont .content {
	display:block !important;
	width:100%;
	margin:0px;
	padding:0px;
	}
	#profileCont .content textarea {
		width:90%;
		}
	#profileCont .content input {
		font-size:24px;
		font-weight:bold;
		line-height:100%;
		margin-bottom:15px;
		text-align:center;
		}
	#profileCont .content input.button {
	width:85px;
	height:33px;
	margin:0px auto;
	font-size:14px;
	color:#FFF;
	background:#787f88;
	line-height:100%;
	cursor:pointer;
	}
/* picList ----------- */
#picList li {
	float:left;
	width:25%;
	height:25%;
	}
	#picList li img {
		width:100%;
		}
/* Pager Link: pagerLink05
---------------------------------------------------------------------------- */

ul.pagerLink05 {
	text-align: center;
	margin-bottom:102px;
	height: 25px;
}

ul.pagerLink05 li {
	display: inline-block;
}

ul.pagerLink05 li a {
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	height: 25px;
	padding-top:3px;
	text-align: center;
	text-decoration: none;
	width: 25px;
}

ul.pagerLink05 li a:hover {
	background: #000;
	border: 1px solid #000;
	color: #fff;
}
/* picture Screen ----------- */
#picScreen {
	width:100%;
	}
	#picScreen img {
		width:100%;
		}
#printPic {
	width:100%;
	position: fixed;
	bottom:35px;
	}
	#printPic .pIco {
		width:83px;
		height:83px;
		margin:0px auto;
		cursor:pointer;
		background:url(../ico/icon_23.png) no-repeat;
		background-size:100%;
		}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen and (orientation: landscape) {
	#contentIndex .titleIndex {
		margin-top:30px;
		margin-bottom:30px;
		}
	 #contentIndex .logo_app {
		margin-top:30px;
		margin-bottom:30px;
	}
}
/* iPad 2 (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1024px) {
	
}

/* iPad 3 (landscape) ----------- */
@media only screen and (orientation : landscape) {
	
}

/* iPad 2 (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
}

/* portrait ----------- */
@media only screen and (device-width: 800px) {
}
/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 601px) 
  and (max-device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}
/* Portrait */
@media only screen 
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}
/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* Swicher ----------- */
.onoffswitch {
    position: absolute; width: 48px;
    top: 22px;
    right: 25px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.1s ease-in 0s; -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #ff6251; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 2px;
    background-color: #7B818A; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 3px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 25px;
    position: absolute; top: 0; bottom: 0; right: 21px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.1s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
