@charset "utf-8";
/* CSS Document */
/* -- Padding VS width -- */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	word-break: break-all;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
	line-height:100%;
	}
h1 {}
h2 {}
h3 {
	}
h4 {}
h5 {
	color:#FFF;
	margin: 10px auto 5px auto;
	font-weight:bold;
	font-size:14px;
	}
p {
	line-height:160%;
	margin:5px auto 5px auto;
	}
a {
	text-decoration: none;
	color:#595757;
}
a:hover {
	color:#595757;
}
li {
	list-style-type: none;
	}
/*** Variables Base ***/
.f8px {
	font-size: 8px;
}
.f9px {
	font-size: 9px;
}
.f10px {
	font-size: 10px;
}
.f11px {
	font-size: 11px;
}
.f12px {
	font-size: 12px;
}
.f13px {
	font-size: 13px;
}
.f14px {
	font-size: 14px;
}
.f15px {
	font-size: 15px;
}
.f16px {
	font-size: 16px;
}
.f17px {
	font-size: 17px;
}
.f18px {
	font-size: 18px;
}
.f19px {
	font-size: 19px;
}
.f20px {
	font-size: 20px;
}
.f22px {
	font-size: 22px;
}
.f24px {
	font-size: 24px;
}
.f26px {
	font-size: 26px;
}
.f28px {
	font-size: 28px;
}
.f30px {
	font-size: 30px;
}
.f32px {
	font-size: 32px;
}
/*** Width ***/
.W50 {
	width: 50px;
}
.W60 {
	width: 60px;
}
.W80 {
	width: 80px;
}
.W100 {
	width: 100px;
}
.W120 {
	width: 120px;
}
.W150 {
	width: 150px;
}
.W180 {
	width: 180px;
}
.W200 {
	width: 200px;
}
.W220 {
	width: 220px;
}
.W250 {
	width: 250px;
}
.W300 {
	width: 300px;
}
.W360 {
	width: 360px;
}
.W400 {
	width: 400px;
}
.W500 {
	width: 500px;
}
.wP50 {
	width: 50% !important;
	}
.wP60 {
	width: 60% !important;
	}
.wP70 {
	width: 70% !important;
	}
.wP100 {
	width: 100% !important;
	}

/* Text align
-----------------------------------------------------------------------------------------------------------*/
.taC {
	text-align:center;
	}
.taL {
	text-align:left;
	}
.taR {
	text-align:right;
	}
/* Margin
-----------------------------------------------------------------------------------------------------------*/
.m5 {
	margin:5px !important;
	}
.m10 {
	margin:10px !important;
	}
.m15 {
	margin:15px !important;
	}
.m20 {
	margin:20px !important;
	}
.m25 {
	margin:25px !important;
	}
.m30 {
	margin:30px !important;
	}
.mL0 {
  margin-left: 0px !important;
}

.mL5 {
  margin-left: 5px !important;
}

.mL10 {
  margin-left: 10px !important;
}

.mL15 {
  margin-left: 15px !important;
}

.mL20 {
  margin-left: 20px !important;
}

.mL25 {
  margin-left: 25px !important;
}

.mL30 {
  margin-left: 30px !important;
}
.mL40 {
  margin-left: 40px !important;
}
.mL50 {
  margin-left: 50px !important;
}
.mL125 {
  margin-left: 125px !important;
}
.mR0 {
  margin-right: 0px !important;
}

.mR5 {
  margin-right: 5px !important;
}

.mR10 {
  margin-right: 10px !important;
}

.mR15 {
  margin-right: 15px !important;
}

.mR20 {
  margin-right: 20px !important;
}

.mR25 {
  margin-right: 25px !important;
}

.mR30 {
  margin-right: 30px !important;
}

.mR50 {
  margin-right: 50px !important;
}

.mT0 {
  margin-top: 0px !important;
}

.mT5 {
  margin-top: 5px !important;
}

.mT10 {
  margin-top: 10px !important;
}

.mT15 {
  margin-top: 15px !important;
}

.mT20 {
  margin-top: 20px !important;
}

.mT25 {
  margin-top: 25px !important;
}

.mT30 {
  margin-top: 30px !important;
}

.mT50 {
  margin-top: 50px !important;
}
.mT100 { margin-top:100px !important;}
.mT120 { margin-top:120px !important;}
.mB0 {
  margin-bottom: 0px !important;
}

.mB5 {
  margin-bottom: 5px !important;
}

.mB10 {
  margin-bottom: 10px !important;
}

.mB15 {
  margin-bottom: 15px !important;
}

.mB20 {
  margin-bottom: 20px !important;
}

.mB25 {
  margin-bottom: 25px !important;
}

.mB30 {
  margin-bottom: 30px !important;
}
.mB40 {
	margin-bottom:40px !important;
	}
.mB50 {
  margin-bottom: 50px !important;
}

/* Padding
-----------------------------------------------------------------------------------------------------------*/
.p5 {
	padding:5px !important;
	}
.p10 {
	padding:10px !important;
	}
.p15 {
	padding:15px !important;
	}
.p20 {
	padding:20px !important;
	}
.p25 {
	padding:25px !important;
	}
.p30 {
	padding:30px !important;
	}
.pL0 {
  padding-left: 0px !important;
}

.pL5 {
  padding-left: 5px !important;
}

.pL10 {
  padding-left: 10px !important;
}

.pL15 {
  padding-left: 14px !important;
}

.pL20 {
  padding-left: 20px !important;
}

.pL25 {
  padding-left: 25px !important;
}

.pL30 {
  padding-left: 29px !important;
}

.pL50 {
  padding-left: 50px !important;
}

.pL60 {
  padding-left: 60px !important;
}

.pR0 {
  padding-right: 0px !important;
}

.pR5 {
  padding-right: 5px !important;
}

.pR10 {
  padding-right: 10px !important;
}

.pR15 {
  padding-right: 15px !important;
}

.pR20 {
  padding-right: 20px !important;
}

.pR25 {
  padding-right: 25px !important;
}

.pR30 {
  padding-right: 30px !important;
}

.pR50 {
  padding-right: 50px !important;
}

.pR80 {
  padding-right: 80px !important;
}

.pR120 {
  padding-right: 120px !important;
}

.pT0 {
  padding-top: 0px !important;
}

.pT5 {
  padding-top: 5px !important;
}

.pT7 {
  padding-top: 7px !important;
}

.pT10 {
  padding-top: 10px !important;
}

.pT15 {
  padding-top: 15px !important;
}

.pT20 {
  padding-top: 20px !important;
}

.pT25 {
  padding-top: 25px !important;
}

.pT30 {
  padding-top: 30px !important;
}

.pT50 {
  padding-top: 50px !important;
}

.pB0 {
  padding-bottom: 0px !important;
}

.pB5 {
  padding-bottom: 5px !important;
}

.pB10 {
  padding-bottom: 10px !important;
}

.pB15 {
  padding-bottom: 15px !important;
}

.pB20 {
  padding-bottom: 20px !important;
}

.pB25 {
  padding-bottom: 25px !important;
}

.pB30 {
  padding-bottom: 30px !important;
}
/* -- Clear fix -- */
#header:after, #contentWrapper:after, #footer:after, #headingPage, #listItem01 ul li .bottom, #itemSub:after {
	content: "";
	display: block;
	clear: both;
}
ul:after {
	content: "";
	display: block;
	clear: both;
}
li:after {
	content: "";
	display: block;
	clear: both;
}
.section {
	clear:both;
	}
#footer:before, #content:before, .section:before {
	content: "";
	display: block;
	clear: both;
}
.green {
	color:#23e379;
	}
.yellow {
	color:#ffdc00;
	}
.salmon {
	color:#f1685a !important;
	}
.blue {
	color:#0068e8;
	}
.blueLight {
	color:#82d2f5 !important;
	}
.purple {
	color:#5f49cd;hotpink
	}
.hotPink {
	color:#ff9fca;
	}
.gray {
	color:#595757 !important;
	}
.grayLight {
	color:#9d9e9e !important;
	}
/* -- Background color -- */
.bgGrayDark {
	background:#3e3a39 !important;
	}
.bgGrayLight {
	background:#b4b4b5 !important;
	}
.bgSalmon {
	background:#fa5354 !important;
	}
.bgWhite {
	background:#ffffff !important;
	}
.bgBlue {
	background:#337ce4 !important;
	}
.bgBlueLight {
	background:#82d2f5 !important;
	}
.bgGreen {
	background:#43e398 !important;
	}
.bgGrown {
	background:#c36544 !important;
	}
.bgGrown {
	background:#ffa9db !important;
	}
/* -- Border top -- */
.bGreen {
	border-top:1px solid #23e379;
	}
.bYellow {
	border-top:1px solid #ffdc00;
	}
.bSalmon {
	border-top:1px solid #f1685a;
	}
.bBlue {
	border-top:1px solid #0068e8;
	}
.bBlueLight {
	border-top:1px solid #82d2f5;
	}
.bPurple {
	border-top:1px solid #5f49cd;
	}
.bHotpink {
         border-top:1px solid #ff9fca;
     }
.clear {
	clear:both;
	}

