/* Profile ----------- */


.hide{
    display: none;
}
#image-view{
    margin:15px;
    padding-bottom:15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.image-preview{
    position:relative;
    border: 1px dashed rgba(203, 201, 201, 0.57);
    display: inline-block;
    margin-right:3px;
}
.image-preview .close {
    position:absolute;
    top:0px;
    right:0px;
    width:30px;
    height:30px;
    background: url('../ico/icon_close.png') no-repeat;
    background-size: contain;
    z-index: 10;
}
.image-preview .close img { width:100%;}
li.to-target.active {
    background-color: rgb(134, 220, 255);
}
li.btn-category.active {
    border: 2px dashed rgb(242, 105, 91);
}
li.btn-category.active .icon {
    margin-top:10px !important;
}
.error {
    clear:both;
    color:#F00;
    margin:15px;
}
.video-placeholder{
    width: 70px;
    height: 70px;
    background: url('../img/video.png');
    background-size: contain;
}
.map video{
    width: 100%;
    height: 100%;
}

#pages_login .btn_group.login {
	width: auto;
}
#pages_login .form-box {
  margin: 40px auto 0 auto;
  width: 360px;
}
#pages_login .form-box .header {
  padding: 10px;
  background-color: #54c6f2;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
#pages_login .form-box .body, .form-box .footer {
  padding: 10px 20px;
  background: #fff;
  color: #444;
}
#pages_login .bg-gray {
  background-color: #eaeaec!important;
}
#pages_login .form-group {
  margin-bottom: 15px;
}
#pages_login .form-control {
  height: 36px;
}
#pages_login .form-control {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#pages_login .button-group {
  margin-top: 22px;
  margin-bottom: 22px;
}
#pages_login  .submit {
  margin-right: 5px;
  float: left; 
}
#pages_login  .submit input {  
  background-color: #54c6f2!important;
  color: #f9f9f9!important;
  padding: 10px;
}
#pages_login  .form-body {
  clear: both;
}
.cls {
  clear: both;
}
.progress {
    height: 40px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    top: 45%;
    left: 20%;
    position: absolute;
    width: 60%;
    z-index: 99999;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-info {
    background-color: #5bc0de;
      z-index: 10002;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.51);
    z-index: 10001;
    top: 0;
    opacity: 0;
    -moz-animation:  show 0.3s ease 0s forwards;
    -webkit-animation: show 0.3s ease 0s forwards;
    -ms-animation: show 0.3s ease 0s forwards;
    animation:  show 0.3s ease 0s forwards;
}
.box-like, .box-favorite,.box-report {
    display: inline;
    position: relative;
}
 .ico_three-point{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 10px;
    background: url(../ico/point_three.png) 0px 0px no-repeat;
    background-size: 100%;
    margin-right: 2px;
    margin-top: 5px;
}
.popover{
    position: absolute;
    background: url("../img/warning.png") no-repeat;
    background-size: 100%;
    height: 20px;
    /*right: -100px;*/
    top: 0px;
    cursor: pointer;
    z-index: 100;
    width: 0;
    -moz-transition: all 0.8s cubic-bezier(0.76, 0.01, 0.14, 1.63);
    -webkit-transition: all 0.8s cubic-bezier(0.76, 0.01, 0.14, 1.63);
    -ms-transition: all 0.8s cubic-bezier(0.76, 0.01, 0.14, 1.63);
    transition: all 0.8s cubic-bezier(0.76, 0.01, 0.14, 1.63);
}
.pop-show{
    -moz-transition: all 0.2s cubic-bezier(0.76, 0.01, 0.14, 1.63) !important;
    -webkit-transition: all 0.2s cubic-bezier(0.76, 0.01, 0.14, 1.63) !important;
    -ms-transition: all 0.2s cubic-bezier(0.76, 0.01, 0.14, 1.63) !important;
    transition: all 0.2s cubic-bezier(0.76, 0.01, 0.14, 1.63) !important;
    width: 100px !important;
}
.no-answer{
    position: relative !important;
    float: right;
    bottom: 0px !important;
}
.qContent{
    height: 100px;
    text-align: left;
    color: #595757;
    font-weight: normal;
    overflow: auto;
}
#edit-profile #name, #edit-profile #memo{
    text-align: center;
    width: 90%;
    color: #7CD4FF;
    font-size: 14px;
    margin: 0 0 0 30px;
    font-weight: bold;
}
/*#edit-profile #memo{*/
    /*height: 100px;*/
    /*overflow: auto;*/
    /*width: 90%;*/
    /*color: #7CD4FF;*/
    /*font-size: 14px;*/
    /*margin: 0 0 0 45px;*/
    /*font-weight: bold;*/
/*}*/
#edit-profile #avatar{
    cursor: pointer;
}
.box-like span,.box-favorite span {
  /*margin-right: -5px !important;*/
  /*letter-spacing: 2px;*/
}
.box-like a, .box-favorite a{
    display: inline-table;
}
.box-like .num-span,.box-favorite .num-span {
  margin-left: 2px;
  margin-right: 2px;
}
.question-view .content .bottom span{
    margin-right: 0px !important;
}
.customBox{
    width: 65%;
    height: 65%;
}
.customBox .c-close{
    color: #12ACF6;
    position: absolute;
    z-index: 10;
}
.three.active {
    /*border: 2px solid #ffffff;*/
    /*padding: 8px !important;*/
    background-color: #9E9EA0!important;
}
.question_button{

}
.imageBox
{
    position: relative;
    height: 100%;
    width: 100%;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.action{
    position: absolute;
    bottom: 0;
    left: 5px;
}
.cropped{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 5px #000;
    text-align: center;
    background-color: #fff;
    color: red;
}
.cropped img{
    width: 100%;
}
.btn-x{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 0px 5px #000;
}
.btn-zoom-in{
    background: url("../img/zoom-in.png") 0 0 no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 1)
}
.btn-zoom-out{
    background: url("../img/zoom-out.png") 0 0 no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 1)
}
.btn-crop{
    background: url("../img/crop.png") 0 0 no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 1)
}
.btn-save{
    background: url("../img/save.png") 0 0 no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 1)
}
.map{
    text-align: center;
}
.lazy-image{
    width: 64px !important;
}
#pagination{
    display: none;
}
.report {
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}
 .view-report {
     text-align: right;
     width: 100%;
     margin-bottom: 10px;
     padding-right: 25px;
     font-size: 12px;
}
.answer-report {
    position: absolute;
    text-align: right;
    right:20px;
    bottom: 0px;
}
.answer-report .view-report{
    padding-right: 2px;
}
/*.btn-report{*/
    /*background: url("../img/report.png") no-repeat;*/
    /*background-size: 100%;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: 5px;*/
/*}*/
#dialog{
    position: fixed;
    top: 20%;
    width: 400px;
    overflow: auto;
    height: auto;
    background-color: rgba(243, 240, 243, 1);
    border: 1px solid #F8F3F3;
    border-radius: 10px;
    left: 35%;
    box-shadow: 0px 0px 20px #919192;
    z-index: 10002;
    opacity: 0;
    -moz-animation:  show 0.5s ease 0s forwards;
    -webkit-animation: show 0.5s ease 0s forwards;
    -ms-animation: show 0.5s ease 0s forwards;
    animation:  show 0.5s ease 0s forwards;
}
.dialog-heading {
}
span.dialog-close {
    position: absolute;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}
.dialog-body {
    text-align: center;
    padding: 10px;

}

.question-view .avatar, #list-answer .avatar{
    cursor: default !important;
}
.question-view .content, #list-answer .content{
    cursor: default !important;
}
.question-item{
    cursor: pointer;
}
/*Success POPUP anumation*/
@-moz-keyframes slide /* Firefox */
{
    from {max-height: 0;}
    to {max-height: 400px;}
}

@-webkit-keyframes slide /* Safari and Chrome */
{
    from {max-height: 0;}
    to {max-height: 400px;}
}

@-ms-keyframes slide /* IE10 */
{
    from {max-height: 0;}
    to {max-height:400px;}
}

@keyframes slide
{
    from {max-height: 0;}
    to {max-height: 400px;}
}

/*overlay POPUP animation*/
@-moz-keyframes show /* Firefox */
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes show /* Safari and Chrome */
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes show /* IE10 */
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes show
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes show-1 /* Firefox */
{
    from {opacity: 0;}
    to {opacity: 0.7;}
}

@-webkit-keyframes show-1 /* Safari and Chrome */
{
    from {opacity: 0;}
    to {opacity: 0.7;}
}

@-ms-keyframes show-1 /* IE10 */
{
    from {opacity: 0;}
    to {opacity: 0.7;}
}

@keyframes show-1
{
    from {opacity: 0;}
    to {opacity: 0.7;}
}

/*overlay POPUP Hide animation*/
@-moz-keyframes hide /* Firefox */
{
    from {opacity: 1;}
    to {
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes hide /* Safari and Chrome */
{
    from {opacity: 1;}
    to {
        opacity: 0;
        display: none;
    }
}

@-ms-keyframes hide /* IE10 */
{
    from {opacity: 1;}
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes hide
{
    from {opacity: 1;}
    to {
        opacity: 0;
        display: none;
    }
}
.logo_app .logo{
    width: 100%;
    /*height: 65%;*/
    /*background: url("../img/img_main_00.png")  no-repeat;*/
    background-size: 100%;
    /*-webkit-animation: changeBg 5s ease infinite;*/
    /*-moz-animation: changeBg 5s ease infinite;*/
    /*-o-animation: changeBg 5s ease infinite;*/
    /*-ms-animation: changeBg 5s ease infinite;*/

}

.logo-1, .logo-2, .logo-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.logo-1{
    background: url("../img/img_main_00.png")  no-repeat;
    background-size: 100%;
    opacity: 1;
    -webkit-animation: changeBg 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -moz-animation: changeBg 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -o-animation: changeBg 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -ms-animation: changeBg 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);

}

.logo-2{
    background: url("../img/img_main_01.png")  no-repeat;
    background-size: 100%;
    -webkit-animation: changeBg2 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -moz-animation: changeBg2 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -o-animation: changeBg2 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -ms-animation: changeBg2 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
}
.logo-3{
    background: url("../img/img_main_02.png")  no-repeat;
    background-size: 100%;

    -webkit-animation: changeBg1 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -moz-animation: changeBg1 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -o-animation: changeBg1 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
    -ms-animation: changeBg1 5s cubic-bezier(0.27, 0.25, 0.11, 1.01);
}

/*Splash*/
@-moz-keyframes changeBg /* Firefox */
{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes changeBg /* Safari and Chrome */
{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes changeBg /* IE10 */
{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes changeBg
 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 }

@-moz-keyframes changeBg1 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes changeBg1 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes changeBg1 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes changeBg1 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes changeBg2 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes changeBg2 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes changeBg2 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes changeBg2 /* IE10 */
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#login-box{
    position: absolute;
    margin: 0 !important;
}
.hidden
{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.bgBlack{
    opacity: 0;
    -moz-animation:  show-1 0.3s ease 0s forwards;
    -webkit-animation: show-1 0.3s ease 0s forwards;
    -ms-animation: show-1 0.3s ease 0s forwards;
    animation:  show-1 0.3s ease 0s forwards;
}
.profileBox, #popupBox02{
    opacity: 0;
    -moz-animation:  show 0.5s ease 0s forwards;
    -webkit-animation: show 0.5s ease 0s forwards;
    -ms-animation: show 0.5s ease 0s forwards;
    animation:  show 0.5s ease 0s forwards;
}
#contentIndex .logo_app {
    width: 503px;
    height: 660px;
    margin: 0px auto;
    margin-bottom: 0;
}


#itemList04 .date
{
    float: right;
    font-size: 12px;
	margin-bottom: 5px;
}
#itemList04 .sty02 .left .avatar_l {
	width: 45px;
	height: 45px;
}
#itemList04 .sty02 .left {
	margin-bottom: 10px;
}
.sty02 .content {
	line-height: 40px;
}
#itemList04 .unread {
  background-color: #FFE3E0 !important;
}
.bgGray {
    background-color:  #C8C9CB;
}
.border-right{
    border-right: 1px solid;
}
.border-left{
    border-left: 1px solid;
}
.border-bottom-none{
    border-bottom: none !important;
}
.btn-close-sm {
    display: inline-block;
    background: url("../img/close.png") no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
}
.btn-close-sm-text{
    display: inline;
    height: 25px;
    position: relative;
    bottom: 3px;
    margin-left: 4px;
}
.view-report .popover{
    background: url("../img/warning_02.png") no-repeat;
    background-size: 100%;
    left: -110px;
}
.question-view .box-like, .question-view .box-favorite{
    position: static; !important;
}
@media only screen
and (min-width: 1366px)
and (orientation : landscape) {
    #contentIndex .logo_app{
        width: 30% !important;
    }
}
@media only screen
and (min-width: 1600px)
and (orientation : landscape) {
    #contentIndex .logo_app{
        width: 20% !important;
    }
}

#itemList04 li {
    cursor: pointer; cursor: hand;
}
#login-box .error{
    margin: 0;
}
.splash-loading{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}