<?php
$jsLinks = array(
    'likeUrl' => $this->Html->url(array('controller' => 'ajax', 'action' => 'likequestion')),
    'favoriteUrl' => $this->Html->url(array('controller' => 'ajax', 'action' => 'favoritequestion')),
    'postAnswer' => $this->Html->url(array('controller' => 'ajax', 'action' => 'postanswer')),
    'likeAnswer' => $this->Html->url(array('controller' => 'ajax', 'action' => 'likeanswer')),
);

$this->Html->scriptStart(array('inline' => false));
echo 'var urls = ' . json_encode($jsLinks) . ';';
$this->Html->scriptEnd();

$this->Html->script('actions', array('inline' => false));
?>
<?php if (isset($use_footer)) { ?>
        <div class="member" id="post-question">
            <div id="post-link" data-href="<?php
            if ($this->Session->check('Auth.User'))
                echo $this->Html->url(array('controller' => 'Ajax', 'action' => 'postanswer', $data['Question']['id']));
            else
                echo $this->Html->url(array('controller' => 'pages', 'action' => 'login'));
            ?>" data-login="<?php echo $this->Session->check('Auth.User')?>"></div>
            <img src="<?php echo $this->Html->webroot('ico/ico_member_02.png')?>" alt="#">
        </div>
<?php } ?>
<div id="itemList01">
    <ul>
        <?php
        echo $this->Item->questionViewItem($data['Question']);
        ?>
        <div id="list-answer">
            <?php
            foreach ($answers as $answer) {
                echo $this->Item->answerItem($answer);
            }
            ?>
        </div>
        <li>
            <div id="pagination">
                <?php
                echo $this->Paginate->render($total, $limit);
                ?>
            </div>
        </li>
    </ul>
    <div class="animation_image" style="display:none" align="center">
        <img src="<?php echo $this->Html->webroot('img/loading.gif')?>">
    </div>
</div>