<div id="itemList04">
    <ul>
        <?php foreach ($data as $item) {
            switch ($item['type']) {
                case '1':
                    if (intval($item['user_count']) > 1) {
                        $msg = "さんと他" . (intval($item['user_count']) - 1 ) . "人があなたの質問に回答しました。";
                    } else {
                        $msg = "さんがあなたの質問に回答しました。";
                    }
                    echo $this->Item->answer($item, $msg);
                    break;
                case '4':
                    if (intval($item['user_count']) > 1) {
                        $msg = "さんと他" . (intval($item['user_count']) - 1 ) . "人が私も知りたい！をした質問に回答しました。";
                    } else {
                        $msg = "さんが私も知りたい！をした質問に回答しました。";
                    }
                    echo $this->Item->answer($item, $msg);
                    break;
                case '5':
                    // case anser
                    if (intval($item['user_count']) > 1) {
                        $msg = "さんと他" . (intval($item['user_count']) - 1) . "人があなたが参加をした質問に回答しました。";
                    } else {
                        $msg = "さんがあなたが参加をした質問に回答しました。";
                    }
                    echo $this->Item->answer($item, $msg);
                    break;

                case '2':
                    // favorite 
                    if (intval($item['favorite_count']) > 1) {
                        
                    } else {
                        
                    }



                    echo $this->Item->favorite($item);
                    break;

                case '3':
                    // like
                    echo $this->Item->like($item);
                    break;
            } 
        } ?>
    </ul>
</div>
