<?php
echo '<span>'.$data['nice_count'].'</span><span class="nice">';
echo '<a href="javascript:;"  data-action="answer-like" data-flag="' . $data['flag'] . '" data-id="' . $data['id'] . '">' . $data['text'] . '</a>';
echo '</span>';
?>