<?php
echo $this->Html->script('loadingapi.js',array('inline'=>false));
?>
<script>
    var login = '<?php echo $this->Html->url(array('controller'=>'pages','action'=>'login'))?>';
</script>
<div id="contentIndex">

</div>
<div class="splash-loading">
    <?php echo $this->Html->image('loading.gif');?>
</div>