<?php $this->Html->css(array('style.css'), array('inline' => false)); ?>
<div id="contentIndex" data-redirect="<?php echo $redirect_url;?>">
    <div class="logo_app">
        <div class="logo">
            <div class="logo-1"></div>
            <div class="logo-2"></div>
            <div class="logo-3"></div>
        </div>
    </div>
<!--    <div class="btn_group login"> -->
<!--        <div class="log_in">-->
<!--            <a href="--><?php //echo($this->Html->url(array('controller' => 'pages', 'action' => 'login'))) ?><!--"></a>-->
<!--        </div> -->
<!--        <div class="sign_up">-->
<!--            <a href="--><?php //echo($this->Html->url(array('controller' => 'pages', 'action' => 'register'))) ?><!--"></a>-->
<!--        </div>-->
<!--    </div>-->
</div>